<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} - The Takeaway Shop</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">
            <a class="navbar-brand" href="#">Takeaway shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu_item == 'Home' %} active {% endif %}" 
                        href="{{ url_for('index') }}">Home</a>
                    <a class="nav-link {% if active_menu_item == 'Menu' %} active {% endif %}" 
                        href="{{ url_for('menu') }}">Menu</a>
                    <a class="nav-link {% if active_menu_item == 'Orders' %} active {% endif %}" 
                        href="{{ url_for('orders') }}">Orders</a>
                </li>
              </ul>
            </div>
          </nav>
        
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    </body>
</html>